In [75]:
%reload_ext sql

In [76]:
%sql sqlite:///C:\Users\User\Desktop\sql\chinook.db

In [77]:
%%sql
SELECT *
FROM sqlite_master

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('table', 'albums', 'albums', 2, 'CREATE TABLE "albums"\r\n(\r\n    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Title] NVARCHAR(160)  NOT NULL,\r\n    [ArtistId] INTEGER  NOT NULL,\r\n    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'artists', 'artists', 4, 'CREATE TABLE "artists"\r\n(\r\n    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'customers', 'customers', 5, 'CREATE TABLE "customers"\r\n(\r\n    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [FirstName] NVARCHAR(40)  NOT NULL,\r\n    [Last ... (317 characters truncated) ... SupportRepId] INTEGER,\r\n    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'employees', 'employees', 8, 'CREATE TABLE "employees"\r\n(\r\n    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [LastName] NVARCHAR(20)  NOT NULL,\r\n    [First ... (356 characters truncated) ...     [Email] NVARCHAR(60),\r\n    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'genres', 'genres', 10, 'CREATE TABLE "genres"\r\n(\r\n    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'invoices', 'invoices', 11, 'CREATE TABLE "invoices"\r\n(\r\n    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [CustomerId] INTEGER  NOT NULL,\r\n    [InvoiceDat ... (226 characters truncated) ... NUMERIC(10,2)  NOT NULL,\r\n    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'invoice_items', 'invoice_items', 13, 'CREATE TABLE "invoice_items"\r\n(\r\n    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [InvoiceId] INTEGER  NOT NULL,\r\n    [Tr ... (191 characters truncated) ... TE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('table', 'media_types', 'media_types', 15, 'CREATE TABLE "media_types"\r\n(\r\n    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'playlists', 'playlists', 16, 'CREATE TABLE "playlists"\r\n(\r\n    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(120)\r\n)'),
 ('table', 'playlist_track', 'playlist_track', 17, 'CREATE TABLE "playlist_track"\r\n(\r\n    [PlaylistId] INTEGER  NOT NULL,\r\n    [TrackId] INTEGER  NOT NULL,\r\n    CONSTRAINT [PK_PlaylistTrack] PR ... (125 characters truncated) ... TE NO ACTION ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('index', 'sqlite_autoindex_playlist_track_1', 'playlist_track', 18, None),
 ('table', 'tracks', 'tracks', 20, 'CREATE TABLE "tracks"\r\n(\r\n    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Name] NVARCHAR(200)  NOT NULL,\r\n    [AlbumId] INTEG ... (415 characters truncated) ... ON UPDATE NO ACTION,\r\n    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)'),
 ('index', 'IFK_AlbumArtistId', 'albums', 22, 'CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId])'),
 ('index', 'IFK_CustomerSupportRepId', 'customers', 23, 'CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId])'),
 ('index', 'IFK_EmployeeReportsTo', 'employees', 24, 'CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo])'),
 ('index', 'IFK_InvoiceCustomerId', 'invoices', 26, 'CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId])'),
 ('index', 'IFK_InvoiceLineInvoiceId', 'invoice_items', 27, 'CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId])'),
 ('index', 'IFK_InvoiceLineTrackId', 'invoice_items', 28, 'CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId])'),
 ('index', 'IFK_PlaylistTrackTrackId', 'playlist_track', 29, 'CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId])'),
 ('index', 'IFK_TrackAlbumId', 'tracks', 30, 'CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId])'),
 ('index', 'IFK_TrackGenreId', 'tracks', 31, 'CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId])'),
 ('index', 'IFK_TrackMediaTypeId', 'tracks', 32, 'CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId])'),
 ('table', 'sqlite_stat1', 'sqlite_stat1', 864, 'CREATE TABLE sqlite_stat1(tbl,idx,stat)'),
 ('view', 'CustomerRevenue', 'CustomerRevenue', 0, 'CREATE VIEW CustomerRevenue AS\n\nSELECT \n    c.FirstName\t|| " " || c.LastName as Customer_Name,\n    sum(it.UnitPrice * it.Quantity) as Total_Reve ... (61 characters truncated) ... .CustomerId = i.CustomerId\nJOIN\n    invoice_items as it\nON\n    i.InvoiceId = it.InvoiceId  \n\nGROUP BY c.CustomerId\nORDER BY Total_Revenue DESC'),
 ('table', 'InvoiceLog', 'InvoiceLog', 866, 'CREATE TABLE InvoiceLog(\n    LogId INTEGER PRIMARY KEY AUTOINCREMENT,\n    InvoiceId INTEGER,\n    LogMessage TEXT,\n    LogDate DATETIME DEFAULT CURRENT_TIMESTAMP\n)'),
 ('trigger', 'LogNewInvoice', 'invoices', 0, 'CREATE TRIGGER LogNewInvoice\nAFTER INSERT ON invoices\nBEGIN \n    INSERT INTO InvoiceLog(InvoiceId,LogMessage)\n    VALUES(NEW.InvoiceId, "New invoice Added");\nEND')]

In [78]:
%%sql
--  1. Create a trigger to log when a new invoice is inserted
CREATE TABLE IF NOT EXISTS InvoiceLog(
    LogId INTEGER PRIMARY KEY AUTOINCREMENT,
    InvoiceId INTEGER,
    LogMessage TEXT,
    LogDate DATETIME DEFAULT CURRENT_TIMESTAMP
)
;
CREATE TRIGGER IF NOT EXISTS LogNewInvoice
AFTER INSERT ON invoices
BEGIN 
    INSERT INTO InvoiceLog(InvoiceId,LogMessage)
    VALUES(NEW.InvoiceId, "New invoice Added");
END;

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.
Done.

[]

In [40]:
%%sql
-- to visualize te tables for eazy access
SELECT name
FROM sqlite_master
WHERE type = "table"

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',),
 ('InvoiceLog',)]

In [52]:
%%sql
-- 1. Use CASE to categorize customers based on total spending
SELECT 
    FirstName || " " || LastName as Customer_Name,
    sum(i.Total) as Total_spent,
    CASE 
        WHEN  sum(i.Total) > 45 THEN  "Platinum"
        WHEN  sum(i.Total) BETWEEN 40 and 45 THEN  "Gold"
        ELSE "silver"
    END as Customer_Tier 
FROM customers c
JOIN
    invoices i
ON
    c.CustomerId = i.CustomerId
GROUP BY c.CustomerId
ORDER BY Total_spent DESC

LIMIT 5

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('Helena Holý', 49.62, 'Platinum'),
 ('Richard Cunningham', 47.62, 'Platinum'),
 ('Luis Rojas', 46.62, 'Platinum'),
 ('Ladislav Kovács', 45.62, 'Platinum'),
 ("Hugh O'Reilly", 45.62, 'Platinum')]

In [65]:
%%sql
--   2. Combine a CTE + CASE to find the top genre per country with a label
with GenreRevenue as ( 
    SELECT 
        g.Name as Genre,
        c.Country country,
        sum(it.UnitPrice * it.Quantity) as Revenue
    FROM 
        genres g
    JOIN 
        tracks t
    ON
        g.GenreId = t.GenreId	
    JOIN
        invoice_items it
    ON 
        t.TrackId = it.TrackId
    JOIN
        invoices i
    ON
        it.InvoiceId = i.InvoiceId
    JOIN
         customers c
    ON
       i.CustomerId = c.CustomerId
    GROUP BY c.country, g.Name
)
SELECT 
    Genre,
    Country,
    Revenue,
    CASE
        WHEN Revenue = (
            SELECT 
                MAX(Revenue)
            FROM 
                GenreRevenue g2
            WHERE g1.Country = g1.Country
        ) THEN "Top Genre"
        ELSE "None"
                            
    END as Label

FROM 
    GenreRevenue g1
ORDER BY Country, Revenue DESC  
LIMIT 5

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('Alternative & Punk', 'Argentina', 8.91, 'None'),
 ('Rock', 'Argentina', 8.91, 'None'),
 ('Latin', 'Argentina', 7.92, 'None'),
 ('Metal', 'Argentina', 6.93, 'None'),
 ('Easy Listening', 'Argentina', 1.98, 'None')]

In [70]:
%%sql
--   4. Challenge: Genre sales growth year by year
with GenreSales as (
    SELECT 
        g.Name as Genre,
        round(sum(it.UnitPrice * it.Quantity),3) as Revenue,
        strftime("%Y", i.InvoiceDate) as Year
    FROM 
        genres g
    JOIN 
        tracks t
    ON
        g.GenreId = t.GenreId	
    JOIN
        invoice_items it
    ON 
        t.TrackId = it.TrackId
    JOIN
        invoices i
    ON
        it.InvoiceId = i.InvoiceId
    GROUP BY Year, Genre
)

SELECT *
FROM GenreSales
LIMIT 5

 * sqlite:///C:\Users\User\Desktop\sql\chinook.db
Done.

[('Alternative & Punk', 62.37, '2009'),
 ('Blues', 10.89, '2009'),
 ('Bossa Nova', 0.99, '2009'),
 ('Easy Listening', 2.97, '2009'),
 ('Electronica/Dance', 1.98, '2009')]